body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.control-bar {
    position: absolute;
    top: 0;
    width: calc(100% - 10px);
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
    margin: 5px;
}

.control-bar jcu-search-bar {
    width: 100%;
}

.card-list {
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 1;
    margin: 5px;
    margin-right: 0;
    overflow-x: scroll;
    gap: 5px;
    width: calc(100% - 5px);
}

.card-list jcu-info-card:last-child {
    margin-right: 5px;
}

@media (max-width: 320px) {
    .control-bar {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
}